.main {
    position: relative;
   color: black;
    padding: 2rem;
    width: auto; 
    max-width:1100px;
    height: auto;
    margin: 0em auto;
    border-radius: 1.5em;
  
    align-items: center;
}
.container-fluid{
    position: relative;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}