.mat-form-field {
    width: 76%;
    letter-spacing: 1px;
    padding: 10px 20px;
    margin-bottom: 50px;
    margin:auto;   
}
.mat-input-wrapper.mat-form-field-wrapper{
    border: 1px solid black;
}
.loginform
{
      font-size: large;
        width: 500px;
        height: auto;
        margin: 0em auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

}
.loginform .form-group
{
    display:flex;
    justify-content: center;
    padding-top: 2rem;;

}
.navbar
{
    display: flex;
    justify-content: center;
    width: 100%;

}
.admin-icon {
    font-size: 60px;
    width: 60px;
    margin-bottom:10px;
  }