<head>
  <title>Admin Login</title>
</head>
<form class="loginform" [formGroup]="loginform" id="loginform" >
    <nav style="color: aliceblue;" class="navbar navbar-inverse">
      <ul  class="nav nav-tabs" align="center">
        <li style="margin-left : 60px"><a [routerLink]="['/userlogin']" class="nav-item ml-auto nav-link user-action"><b>User Login</b> </a></li>
        <li style="margin-right : 60px"><a [routerLink]="['/adminlogin']"  class="nav-item ml-auto nav-link user-action"><b>Admin Login</b></a></li>
    </ul>
    </nav>

      <div class="form-group">Admin Login</div>
      <div class="input-group">
        <mat-form-field appearance="standard"> 
          <mat-label >Enter your email</mat-label>
          <input matInput placeholder="admin@example.com" formControlName="email" required>
          <mat-error *ngIf="loginform.controls.email.invalid">Please enter valid email</mat-error>
        </mat-form-field>
      </div>
     
      <div class="input-group">
        <mat-form-field appearance="standard">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button color-white matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
    </div>
    <div class="form-group">  
       <button type="submit" mat-raised-button class="btn-success" align="center" (click)="doAdminLogin()">Login</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
      </form>                   
  

     

