<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav class="navbar navbar-expand-xl navbar-dark">
        <a routerLink="home" class="navbar-brand">ＷａｙＴｏＦｌｙ 
        <span class="iconify" data-icon="openmoji:small-airplane" data-inline="false" style="width: 35px; height: 35px;"></span>
    </a> 
        <div class="navbar-nav ml-auto" >
            <span class="iconify" data-icon="bi:person-fill" data-inline="false"style="width: 35px; height: 35px;"></span>
                <a routerLink="userlogin"class="nav-item ml-auto nav-link user-action" *ngIf="!isLoggedIn"><b>Login/Signup</b></a>
                <a routerLink='userview' class = "nav-item ml-auto nav-link user-action" *ngIf="isLoggedIn && isLoggedUser"><b>Booked History</b></a>
                <a routerLink='adminview' class = "nav-item ml-auto nav-link user-action" *ngIf="isLoggedAdmin"><b>AdminView</b></a>
            <div class="dropdown" *ngIf="isLoggedIn">
                <a href data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><b>{{userName}}</b><b class="caret"></b></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href (click)="Logout()" class="dropdown-item"><i class="material-icons">&#xE8AC;</i>Logout</a>
                </div>
            </div>
        </div>
</nav>