 <form [formGroup]="ResetPasswordForm" (ngSubmit)="onSubmit(ResetPasswordForm)" class="form-signin" *ngIf="!requestSent">
         <div class="main"style="align-items: center;">
             <mat-toolbar>
                 <span>Reset Password</span>
             </mat-toolbar>
            <p> Enter your email address that you used to register. We'll send you an email with your username and otp to reset your password.</p>
                       
            <div class="form-group"> 
            <mat-form-field appearance="fill" >
             <mat-label>Enter Registered Email</mat-label>
             <input type="email" matInput required placeholder="abc@gmail.com" formControlName="email">
             </mat-form-field>
                              <div *ngIf="f.email.touched&&f.email.invalid" class="alert alert-danger">
                                <div *ngIf="f.email.errors.required">User Email ID is required.</div>
                                </div>
                                <button mat-raised-button type="submit" [disabled]="!ResetPasswordForm.valid" color="primary">Proceed</button> &nbsp;&nbsp;
                                <button mat-raised-button  [routerLink]="['/userlogin']"> Back</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button mat-raised-button color="accent" type="reset"> Reset</button>
                        </div>
                       </div>
                    </form>
                    <form [formGroup]="OtpForm" (ngSubmit)="onSubmit2(OtpForm)" class="form-signin" *ngIf="requestSent && !showPassword">
                        <div class="main"style="align-items: center;">
                        <mat-toolbar>
                            <span>Reset Password</span>
                        </mat-toolbar>  
                        <div class="form-group"> 
                            <mat-form-field appearance="fill" >
                                <mat-label>Enter OTP</mat-label>
                                <input type="text" matInput required placeholder="Enter otp" formControlName="otp"#otp>
                              </mat-form-field>
                              <div *ngIf="f2.otp.touched && f2.otp.invalid" class="alert alert-danger">
                                <div *ngIf="f2.otp.errors.required">User Email ID is required.</div>
                                <div *ngIf="f2.otp.errors.maxlength">OTP should be of 4 digits.</div>
                                <div *ngIf="f2.otp.errors.pattern">Enter only numbers.</div>
                                </div>
                                <button mat-raised-button type="submit" [disabled]="!OtpForm.valid" color="primary">Proceed</button> &nbsp;&nbsp;
                                <button mat-raised-button  [routerLink]="['/forgot-password']"> Back</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button mat-raised-button color="accent" type="reset"> Reset</button>
                        </div>
                        </div>
                    </form>  
                    <form [formGroup]="setPwdForm" (ngSubmit)="onSubmit3(setPwdForm)" class="form-signin" *ngIf="showPassword">
                        <div class="main"style="align-items: center;">
                        <mat-toolbar>
                            <span>Reset Password</span>
                        </mat-toolbar>  
                        <div class="form-group"> 
                            <mat-form-field appearance="fill" >
                                <mat-label>Set new password</mat-label>
                                <input type="password" matInput required placeholder="Set Login Password" formControlName="loginpwd">
                              </mat-form-field>
                              <div *ngIf="f3.loginpwd.touched && f3.loginpwd.invalid" class="alert alert-danger">
                                <div *ngIf="f3.loginpwd.errors.required">Login password is required.</div>
                                <div *ngIf="f3.loginpwd.errors.pattern">Password should be of minimum 8 characters and must contain at least 1 alphabet, 1 numeric and 1 special character
                                    
                                </div>
                                </div>
                        </div>
                        <div class="form-group"> 
                            <mat-form-field appearance="fill" >
                                <mat-label>Confirm new password</mat-label>
                                <input type="password" matInput required placeholder="Confirm Login Password" formControlName="confirmloginpwd">
                              </mat-form-field>
                              <div *ngIf="f3.confirmloginpwd.touched && f3.confirmloginpwd.invalid" class="alert alert-danger">
                                <div *ngIf="f3.confirmloginpwd.errors.required"> password is required.</div>
                                <div *ngIf="f3.confirmloginpwd.errors.confirmedValidator">Password is not matching.</div>
                                </div>

                        </div>
                        <button mat-raised-button type="submit" [disabled]="!setPwdForm.valid" color="primary">Proceed</button> &nbsp;&nbsp;
                                
                        
                        <button mat-raised-button type="reset" color="accent"> Reset</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </form>               

                    
                        
                  