
.main {
  min-width: 700px;
  /* background-color: rgba(245, 245, 245, 0.856); */
  width: auto;
  height: auto;
  margin: 0em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  padding:3%;
  text-align: center;
}

.main .wrapper{
  display: inline-grid;

  grid-template-columns: repeat(20, 1fr);
  grid-template-rows:auto auto 10vh auto auto auto;
  overflow: auto;
  margin:3%
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


.booked {
  width: 40px;
  height: 30px;
  border: 1px solid black;
  background-color: rgba(187, 20, 20, 0.938);
  color: white;
  text-align: center;
  pointer-events: none;
  cursor: default;
  margin: 10px;
  border-radius: 20px;
}


.available {
  width: 40px;
  height: 30px;
  border: 1px solid black;
  /* background-image: url('../../../assets/images/UserLogin.jpg'); */
  background-color:grey;
  color:black;
  text-align: center;
  margin: 10px;
  border-radius: 20px;
}

.tempregistered {
  width: 75px;
  height: 75px;
  border: 2px solid black;
  background-color:grey;
  color: white;
  text-align: center;
  pointer-events: none;
  cursor: default;
  margin: 10px;
}

.myselection {
    width: 40px;
    height: 30px;
  border: 2px solid black;
  background-color: green;
  color: white;
  text-align: center;
  margin: 10px;
  border-radius: 20px;
}

.cellrow {
  float: left;
  text-align: center;

}

.col-md-4 {
  text-align: center;
}

h1,h2 {
 color:black;
}

