<meta name="viewport" content="width=device-width, initial-scale=1.0">
<footer>
    <div id="footer-block" style="margin-top: 0px;">
      <div id="copyright" class="row gutter-row d-flex w-100 justify-content-between">
        <div class="col text-left">
          {{currentDate | date:'dd-MM-yyyy'}}
        </div>
        <div class="col text-center">
          <span class="iconify" data-icon="mdi-twitter" data-inline="false" style="width: 50px; height: 50px;"></span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="iconify" data-icon="ant-design:facebook-filled" data-inline="false" style="width: 50px; height: 50px;"></span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="iconify" data-icon="ant-design:instagram-filled" data-inline="false" style="width: 50px; height: 50px;"></span>        
        </div>
          
  
        <div class="col text-right">
          <div>
         &copy; ＷａｙＴｏＦｌｙ PVT.LTD 
        </div>
        <div>
         All rights reserved here.
        </div>
        </div>
        
      </div>
    </div>
</footer>